*{
    background-color: pink;
    text-align: center;
}
.web{
    font-family: fantasy;    
}
div{
    height: 200px;
    width: 200px;
}
#class1{
    border: 20px solid black;
    background-color: cadetblue;
    margin: 0px;
    padding: 10px;
}
#class2{
    border: solid black;
    background-color: blue;
    border-width: 20px 10px;
    margin-left: 260px;
}
#class3{
    border: 10px solid grey;
    background-color: blue;
    margin-left: 40px;
}